@import "components/index.css";
@import "config/fonts.css";
@import "config/variables.css";


body{
  /* background-color: var(--black); */
  color: var(--white);
  font-family: "Inter", "sans-serif";
  background: linear-gradient(55deg, #04080f, #3e3e3e);
  background-size: 400% 400%;
  margin: 0;

  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  animation: AnimationName 24s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 40%}
  50%{background-position:100% 61%}
  100%{background-position:0% 40%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 40%}
  50%{background-position:100% 61%}
  100%{background-position:0% 40%}
}
@keyframes AnimationName {
  0%{background-position:0% 40%}
  50%{background-position:100% 61%}
  100%{background-position:0% 40%}
}

html{
  scroll-behavior: smooth;
}
