.experiences{

}

.active-tabs{
  background-color: var(--green) !important;
  color: var(--black) !important;
  font-weight: 700;
  border-radius: 8px;
  transition: 1s ease-in-out;
}

.bar{
  width: 100%;
  overflow: hidden;
}
.bar-items{
  color: var(--white);
  padding: 8px 16px;
  background-color: transparent;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  font-weight: 600;
  }

.details li::before {content: "• "; color: var(--green)}
.details li:not(:last-child) {
  margin-bottom: 8px;
}
.details ul{
  list-style: none;
  padding-inline-start: 16px;
}

.reco-profile{
  display: flex;
  gap: 32px;
  align-items: center;
}



.avatar{
  border-radius: 50px;
  height: 60px;
}
