/* .experiences{

} */

.active-tabs{
  background-color: var(--green) !important;
  color: var(--black) !important;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}


.date{
  margin-top: 8px;
  margin-bottom: 8px;
}
.exp h3 {
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--green);
}
.exp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}


.reco{
  max-width: 500px;
  min-width: 200px;
}


.details{
  max-width: 500px;
  min-width: 200px;
}

.break {
  flex-basis: 8px;
  height: 0;
}

.bar{
  width: 100%;
  overflow: hidden;
}
.bar-items{
  color: var(--white);
  padding: 8px 16px;
  background-color: transparent;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  font-weight: 600;
  cursor: pointer;
  }

.details li::before {content: "• "; color: var(--green)}
.details li:not(:last-child) {
  margin-bottom: 8px;
}
.details ul{
  list-style: none;
  padding-inline-start: 16px;
}


.reco-profile{
  display: flex;
  gap: 32px;
  align-items: center;
}

.exp-panel{
  background-color: var(--grey);
  padding: 16px;
  border-radius: 8px;
}


.avatar{
  border-radius: 50px;
  height: 60px;
}


/*
@media screen and (max-width: 600px){
  .exp{
    display: block;
  }
} */
