#logo{
  height: 50px;
  width: 50px;
  min-width:50px;
  background-color: var(--green);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#logo span{
  font-weight: 800;
  font-size: 32px;
}
