#logo{
  height: 50px;
  width: 50px;
  background-color: var(--green);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
}

#logo span{
  font-weight: 800;
  font-size: 32px;
}
